<ion-view view-title="About OpenStack">
  <ion-content class="content-page">
    <h1>About OpenStack</h1>
    <p>Open source software for creating private and public clouds.</p>
    <p>The most innovative companies in the world move faster with OpenStack.</p>
    <p><a href="#" onclick="window.open('https://www.openstack.org/', '_blank', 'location=yes,toolbar=yes,enableViewportScale=yes,closebuttoncaption=Close,transitionstyle=fliphorizontal');">Learn more</a> about OpenStack.</p>
  </ion-content>
</ion-view>
