<ion-view view-title="About This App">
  <ion-content class="content-page">
    <h1>OpenStack Superuser Reader</h1>
    <p>Developed by Matt Griffin.</p>
    <p>Twitter: <a href="#" onclick="window.open('http://www.twitter.com/@mattpgriffin', '_system', 'location=no');">@mattpgriffin</a></p>
    <p>Support, issues, and ideas: <a href="#" onclick="window.open('http://www.github.com/mattgriffin/superuser-reader/issues', '_system', 'location=no');">GitHub</a></p>
    <p>Version: 0.3.13</p>
  </ion-content>
</ion-view>
