<ion-view view-title="Superuser">
  <!-- <ion-content>
    <ion-item ng-repeat="article in articles" class="item item-borderless" href="#/app/articles/{{article.id}}">
      <div class="card">
        <div class="item item-divider item-text-wrap">
          <h2>Header</h2>
        </div>
        <div class="item item-body item-text-wrap summary">
          <span>{{article.title}}</span>
        </div>
      </div>
    </ion-item>
  </ion-content> -->

  <ion-content ng-controller="FeedController" ng-init="init()">
    <div ng-repeat="entry in entries" class="item item-borderless" ng-click="browse(entry.link)">
      <div class="card">
        <div class="item item-divider item-text-wrap">
          <h2>{{entry.title}}</h2>
        </div>
        <div class="item item-body item-text-wrap">
          <div class="content" ng-bind-html="entry.contentSnippet"></div></br></br>
          <div class="metadata">
            <div class="pubDate">{{entry.publishedDate | amDateFormat:'MMMM D, YYYY'}}</div>
            <div class="author">{{entry.author}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
