<ion-view view-title="Ask OpenStack">
  <ion-content>
    <h1>ask.openstack.org</h1>
    <p>ask.openstack.org is a site for asking and answering questions related to OpenStack. Questions and answers are voted on to help select the best information and thank the most helpful users.</p>
    <p>Visit <a href="#" onclick="window.open('https://ask.openstack.org/', '_blank', 'location=yes,toolbar=yes,enableViewportScale=yes,closebuttoncaption=Close,transitionstyle=fliphorizontal');">ask.openstack.org</a>.</p>
  </ion-content>
</ion-view>
