<ion-view view-title="OpenStack Marketplace">
  <ion-content class="content-page">
    <h1>OpenStack Marketplace</h1>
    <p>The OpenStack Marketplace will help you make an informed decision, whether you're building a cloud, looking to use one by the hour, or pursuing a hybrid model.</p>
    <p>Visit the <a href="#" onclick="window.open('https://www.openstack.org/marketplace/', '_blank', 'location=yes,toolbar=yes,enableViewportScale=yes,closebuttoncaption=Close,transitionstyle=fliphorizontal');">OpenStack Marketplace</a>.</p>
  </ion-content>
</ion-view>
