<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable menu-title">
      <h1 class="title">OpenStack Superuser</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/articles">
          Superuser
        </ion-item>
        <ion-item menu-close href="#/app/summit">
          OpenStack Summit
        </ion-item>
        <ion-item menu-close href="#/app/planet">
          Planet OpenStack
        </ion-item>
        <ion-item menu-close href="#/app/ask">
          Ask OpenStack
        </ion-item>
        <ion-item menu-close href="#/app/marketplace">
          OpenStack Marketplace
        </ion-item>
        <ion-item menu-close href="#/app/about-openstack">
          About OpenStack
        </ion-item>
        <ion-item menu-close href="#/app/about-app">
          About This App
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
