<ion-view view-title="OpenStack Summit">
  <ion-content class="content-page">
    <h1>OpenStack Summit</h1>
    <p>The OpenStack Summit is a three-day conference for IT business leaders, cloud operators and developers covering the open infrastructure landscape.</p>
    <p>The next Summit event is <a href="#" onclick="window.open('https://www.openstack.org/summit/', '_blank', 'location=yes,toolbar=yes,enableViewportScale=yes,closebuttoncaption=Close,transitionstyle=fliphorizontal');">OpenStack Summit Sydney</a> from November 6-8, 2017.</p>
    <p>Use the OpenStack Foundation Summit app to navigate the next summit. Download for <a href="#" onclick="window.open('https://appsto.re/us/wII2_.i', '_system', 'location=no');">iOS</a> or <a href="#" onclick="window.open('https://play.google.com/store/apps/details?id=org.openstack.android.summit', '_system', 'location=no');">Android</a>.</p>
  </ion-content>
</ion-view>
